NODE_ENV=development
PORT=5000
DATABASE=
DATABASE_PASSWORD=
DATABASE_NAME=BomcelDB
DEV_REGION=NG # or US
# DEV_REGION=US
# .env
GEO_CACHE_TTL_MS=86400000   # Cache lifetime (24h default)
DEV_FALLBACK_IP=8.8.8.8     # Fallback IP when running locally for US


JWT_SECRET=
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=2525
EMAIL_FROM=hello@bomcel.com

GOOGLE_CLIENT_ID=81469053708-