NODE_ENV=development
PORT=5000
DATABASE_NAME=BomcelDB
DEV_REGION=NG # or US
# DEV_REGION=US
# .env
GEO_CACHE_TTL_MS=86400000   # Cache lifetime (24h default)
DEV_FALLBACK_IP=8.8.8.8     # Fallback IP when running locally for US


JWT_SECRET=1ca0bb534bf2df5c02600a2f6674fcaad186ee9fed0dc5200da2e186dd80c6841c2e440713ec0dad5f2992803ad7e4f6e69682c93f69b99ada453ff9129884b8
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=42f90bea64bd0f
EMAIL_PASSWORD=ad68523f8e30ed
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_FROM=hello@bomcel.com

GOOGLE_CLIENT_ID=81469053708-a9j16jqkc61i3n0d2op63sdpmuug9163.apps.googleusercontent.com